.DS_Store
data/raw/ascii
data/raw/lineStrokes
data/raw/original
data/processed

logs
predictions

# Terraform files
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/

deploy_key
deploy_key.pub
